@import '../../common/variables';

.syncAccountButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 33px;
  border-radius: 2px;
  border: none;
  color: $primary-white-color;
  font-size: 13px;
  background: linear-gradient(
    180deg,
    rgba(43, 155, 236, 1) 0%,
    rgba(35, 146, 229, 1) 26.91%,
    rgba(13, 120, 212, 1) 71.59%,
    rgba(0, 105, 201, 1) 93.72%
  );

  &:hover {
    background: linear-gradient(180deg, rgba(62, 165, 240, 1) 0%, rgba(21, 119, 207, 1) 100%);
    color: $primary-white-color;
  }

  &[disabled] {
    background: linear-gradient(180deg, rgba(191, 221, 247, 1) 0%, rgba(180, 209, 240, 1) 100%);
  }
}
